extends layouts/frontend

block content
    h1 Jeu Concours ! 
    h2 Il reste #{nbrRestant} patisseries à gagner
    if !user.aJouer
        a(href="/jouer").boutonBB2.vertBB Participer
    else 
        if(user.tirage)
            p.numero= user.tirage.reduce((str, tirage) => str + (tirage+1) + " ", "")
        .listGagnant
            each gain in gains 
                .gagnant 
                    img(src="/image/petit-gateau.png")
                    p
                        bold= gain.pattiserie[0].name
                        span  gagner par 
                        bold= gain.user[0].firstName + " " + gain.user[0].lastName
                        span= " le "+gain.date.toLocaleDateString("fr")

block button
    form(method="post", action="/logout/")
        button(type="submit") Deconexion
